{% extends "base.html.twig" %}
    {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/app-assets/css/pages/data-tables.css') }}"> 
      {% endblock %}

  {# <link rel="stylesheet" type="text/css" href="{{ asset('assets/app-assets/css/pages/data-tables.css') }}"> #}
{% block title %} Liste des utilisateurs {% endblock %}
{% block pageTitle %} Liste des utilisateurs {% endblock %}
{% block levelOne %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_user_list') }}">Users</a></li>{% endblock %}
{% block levelTwo %}{% endblock %}
{% block levelThree %}{% endblock %}
{% block btnLink %}
    <div class="col s2 m6 l6">
        <a class="btn  waves-effect waves-light breadcrumbs-btn right" href="{{ path('app_admin_user_create') }}">
            {# Create User #}
            Nouveau
            </a>
    </div>
{% endblock %}

{% block body %}
    {#  Show alert : START #}
    {% for message in app.flashes('success') %}
        <div class="card-alert card green">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="card-alert card red">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {#  Show alert : END  #}
    <section class="users-list-wrapper section">
        <!-- Page Length Options -->
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          {# <h4 class="card-title">Page Length Options</h4> #}
          <div class="row">
            <div class="col s12">
              <table id="page-length-option" class="display">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>status</th>
                    {# <th>Telephone</th> #}
                    {# <th>Email</th> #}
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for user in users %}
                  <tr>
                   <td>{{ user.id }}</td>
                      <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>    

                                    <td>
                    {% if user.status == 1 %}
                    <span class="chip green lighten-5">
                                    <span class="green-text">Active</span>
                    </span>
                       {% else %}
                                           <span class="chip green lighten-5">

                                    <span class="green-text">Disable</span>
                                     </span>
                      {% endif %}
                                     </td>
                                                                        
                                  
                                    <td>
                                    
                                        <a href="page-users-view.html"><i class="material-icons">remove_red_eye</i></a>
                                        <a href="{{ path('app_admin_user_edit',{'id': user.id}) }}"><i class="material-icons">edit</i></a>
                                    </td>
                  </tr>
                   {% endfor %}
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    {# <td>2011/04/25</td> #}
                    <td>$320,800</td>
                  </tr>
                   <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    {# <td>2008/11/13</td> #}
                    <td>$183,000</td>
                  </tr>
                  {# <tr>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>Singapore</td>
                    <td>29</td>
                    <td>2011/06/27</td>
                    <td>$183,000</td>
                  </tr>
                  <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>27</td>
                    <td>2011/01/25</td>
                    <td>$112,000</td>
                  </tr> #}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        {# <div class="users-list-table">
            <div class="card">
                <div class="card-content">
                    <!-- datatable start -->
                    
                    <!-- datatable ends -->
                </div>
            </div>
        </div> #}
    </section>
{% endblock %}
