{% extends 'base.html.twig' %}

{% block pageTitle %}Les Plannings
{% endblock %}
{% block levelOne %}
	<li class="breadcrumb-item">
		<a href="{{ path('app_admin_planning_list') }}">Plannings</a>
	</li>
{% endblock %}
{% block levelTwo %}{% endblock %}
{% block levelThree %}{% endblock %}
{% block title %}Planning{% endblock %}

{% block body %}
  <div class="container-fluid">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          {% for jour in jours %}
            <th>{{ jour|date('l') }}<br>{{ jour|date('d/m/Y') }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th></th>
          {% for jour in jours %}
            <th>{{ jour|date('l') }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th>Horaires</th>
          {% for jour in jours %}
            <th>
              {% for seance in seances %}
                {% if seance.jour|date('Y-m-d') == jour|date('Y-m-d') %}
                  {{ seance.horaireDebut }} - {{ seance.horaireFin }}<br>
                {% endif %}
              {% endfor %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Groupes</th>
          {% for jour in jours %}
            <td>
              {% for seance in seances %}
                {% if seance.jour|date('Y-m-d') == jour|date('Y-m-d') %}
                  {{ seance.groupe|join(', ') }}<br>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}