{% extends "base.html.twig" %}
{% block title %}Profile Nageur
{% endblock %}
{% block pageTitle %}Profile Nageur
{% endblock %}
{% block levelOne %}
	<li class="breadcrumb-item">
		<a href="{{ path('app_admin_nageur_list') }}">Users</a>
	</li>
{% endblock %}
{% block levelTwo %}{% endblock %}
{% block levelThree %}{% endblock %}
{% block btnLink %}
	<div class="col s2 m6 l6">
		<a class="btn  waves-effect waves-light breadcrumbs-btn right" href="{{ path('app_admin_nageur_create') }}">
			Create nageur</a>
	</div>
{% endblock %}

{% block body %}
	<!DOCTYPE html>

	<html
		class="loading" lang="en" data-textdirection="ltr">
		<!-- BEGIN: Head-->
		<head>


			{#  #}
			<!-- BEGIN: Page Level CSS-->


			<link
			rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/css/pages/page-account-settings.css')}}"> <!-- BEGIN: SideNav-->

			{% for message in app.flashes('success') %}
				<div class="card-alert card green">
					<div class="card-content white-text">
						<p>
							{{ message }}</p>
					</div>
					<button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="card-alert card red">
					<div class="card-content white-text">
						<p>
							{{ message }}</p>
					</div>
					<button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			{% endfor %}
			<!-- Account settings -->
			<section class="tabs-vertical mt-1 section">
				<div class="row">
					<div class="card-panel">
						<div class="row">
							<div class="col s12 m7">
								<div class="display-flex media">
									<a href="#" class="avatar">
										<img src="{{asset('assets/app-assets/images/avatar/avatar-15.png')}}" alt="users view avatar" class="z-depth-4 circle" height="64" width="64">
									</a>
									<div class="media-body">
										<h6 class="media-heading">
											<span class="users-view-username">{{ nageurs.prenom ~ ' ' ~ nageurs.nom }}
											</span>


										</h6>
										<span>ID:{{ nageurs.id}}</span>

									</div>
								</div>
							</div>
							<div class="col s12 m5 quick-action-btns display-flex justify-content-end align-items-center pt-2">
								<a href="app-email.html" class="btn-small btn-light-indigo">
									<i class="material-icons">mail_outline</i>
								</a>
								<a href="{{ path('app_admin_nageur_page',{'id': nageurs.id}) }}" class="btn-small btn-light-indigo">Profile</a>
								<a href="{{ path('app_admin_nageur_edit',{'id': nageurs.id}) }}" class="btn-small indigo">Edit</a>
							</div>
						</div>
					</div>
					<div
						class="col l4 s12">
						<!-- tabs  -->
						<div class="card-panel">
							<ul class="tabs">
								<li class="tab">
									<a href="#general">
										<i class="material-icons">brightness_low</i>
										<span>General</span>
									</a>
								</li>
								<li class="tab">
									<a href="#change-password">
										<i class="material-icons">lock_open</i>
										<span>Change Password</span>
									</a>
								</li>
								<li class="tab">
									<a href="#info">
										<i class="material-icons">error_outline</i>
										<span>
											Physionomie</span>
									</a>
								</li>
								<li class="tab">
									<a href="#social-link">
										<i class="material-icons">chat_bubble_outline</i>
										<span>Ajouter Physionomie</span>
									</a>
								</li>
								<li class="tab">
									<a href="#connections">
										<i class="material-icons">link</i>
										<span>Performances</span>
									</a>
								</li>

							</ul>
						</div>
					</div>

					<div
						class="col l8 s12">
						<!-- tabs content -->
						<div id="general">
							<div class="card-panel">

								<div class="divider mb-1 mt-1"></div>
								<div class="responsive-table">

									<table class="striped">
										<tbody>
											<tr>
												<td>ID:</td>
												<td class="users-view-ID">{{ nageurs.id }}</td>
											</tr>
											<tr>
												<td>Nom complet:</td>
												<td class="users-view-username">{{ nageurs.prenom ~ ' ' ~ nageurs.nom }}</td>
											</tr>
											<tr>
												<td>Parent:</td>
												<td class="users-view-parent">{{ nageurs.parent.prenom ~ ' ' ~ nageurs.parent.nom }}</td>
											</tr>
											<tr>
												<td>Telephone:</td>
												<td class="users-view-telephone">{{ nageurs.telephone }}</td>
											</tr>
											<tr>
												<td>E-mail:</td>
												<td class="users-view-email">{{ nageurs.email }}</td>
											</tr>
											<tr>
												<td>Groupe:</td>
												<td class="users-view-groupe">{{ nageurs.groupe.intitule }}</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="change-password">
							<div class="card-panel">

								<div class="row">
									<div class="col s12 ">
										<div class="row">
											{{ form_start(formEdit) }}
											<label class="active">Nouveau mot de passe</label>
											{{ form_widget(formEdit.password.first, {'required' : true  ,'attr': {'class': 'form-control', 'data-error' :'.errorTxt7'}}) }}

											<small class="errorTxt7"></small>
											<label class="active">Confirmer</label>
											{{ form_widget(formEdit.password.second, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt8'}}) }}

											<small class="errorTxt8"></small>

											<div class="col s12 display-flex justify-content-end mt-3">
												{{ form_widget(formEdit.submit, {'label': 'Modidier'}) }}
												<button type="button" class="btn btn-light">Cancel</button>
											</div>
											{{ form_end(formEdit) }}
										</div>
									</div>
								</div>


							</div>
						</div>

						<div id="info">

							<div class="card-panel">
								<div class="divider mb-1 mt-1"></div>
								<div class="responsive-table">
									<table class="bordered">
										<thead>
											<tr>

												<th>id</th>
												<th>Date</th>
												<th>Poids</th>
												<th>Taille</th>
											</tr>
										</thead>
										<tbody>
											{% for physionomies in nageurs.physionomies %}
												<tr>

													<td>{{ physionomies.id }}</td>
													<td>{{ physionomies.date | date('Y-m-d') }}</td>
													<td>{{ physionomies.poids }}</td>
													<td>{{ physionomies.taille }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div id="social-link">
							<div class="card-panel">
								<div class="divider mb-1 mt-1"></div>
								{{ form_start(formPhysionomie) }}
								<div class="row">
									<div class="col s12 ">
										<div class="row">
											<div
												class="col s12 m6 input-field" id="view-date-picker-2">
												{# <p>We use a modified version of pickadate.js to create a materialized date picker. Test it out below! </p> #}
												<label for="physionomie_date">date</label>
												{{ form_widget(formPhysionomie.date,{'attr': {'class': 'datepicker', 'data-error' :'.errorTxt5'}}) }}

											</div>
											<div class="col s12 m6 input-field">
												{{ form_widget(formPhysionomie.taille, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt2'}}) }}
												<label class="active">taille</label>
												<small class="errorTxt2"></small>
											</div>
											<div class="col s12 input-field">
												{{ form_widget(formPhysionomie.poids, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt3'}}) }}
												<label class="active">poids</label>
												<small class="errorTxt3"></small>
											</div>


										</div>
									</div>
									<div class="col s12 display-flex justify-content-end mt-3">
										{{ form_widget(formPhysionomie.submit) }}
										<button type="button" class="btn btn-light">Cancel</button>
									</div>
								</div>
								{{ form_end(formPhysionomie) }}
							</div>
							<div id="connections">
								<div class="card-panel">
									<div class="row">
										<div class="col s12 mt-1 mb-1">
											<a href="javascript: void(0);" class="btn cyan waves-effect waves-light">
												Connect to
												<strong>Twitter</strong>
											</a>
										</div>
										<div class="col s12 mt-1 mb-1">
											<button class="btn btn-small waves-effect waves-light btn-light-indigo float-right">edit</button>
											<h6>You are connected to facebook.</h6>
											<p>Johndoe@gmail.com</p>
										</div>
										<div class="col s12 mt-1 mb-1">
											<a href="javascript: void(0);" class="btn waves-effect waves-light">Connect to
												<strong>Google</strong>
											</a>
										</div>
										<div class="col s12 mt-1 mb-1">
											<button class="btn btn-small btn-light-indigo float-right waves-effect waves-light">edit</button>
											<h6>You are connected to Instagram.</h6>
											<p>Johndoe@gmail.com</p>
										</div>
										<div class="col s12 display-flex justify-content-end form-action">
											<button type="submit" class="btn indigo waves-effect waves-light mr-2">Save
																																																																																		                changes</button>
											<button type="button" class="btn btn-light-pink waves-effect waves-light">Cancel</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</head>
			</html>
		</head>
	</html>
</section>
<!-- START RIGHT SIDEBAR NAV --></body></html>{% endblock %}
