{% extends "basenageur.html.twig" %}
{% block title %}Profile Nageur
{% endblock %}
{% block pageTitle %}Profile Nageur
{% endblock %}
{% block levelOne %}
	<li class="breadcrumb-item">
		<a href="{{ path('app_admin_nageur_list') }}">Users</a>
	</li>
{% endblock %}
{% block levelTwo %}{% endblock %}
{% block levelThree %}{% endblock %}
{% block btnLink %}


	<!-- Modal Trigger -->
	{# <a class="waves-effect waves-light btn modal-trigger" href="{{ path('app_admin_groupe_list') }}">create groupe</a> #}
		<a data-target="modal1" class="btn modal-trigger   waves-effect waves-light breadcrumbs-btn right    "> ajouter physionomie</a>
	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer">
		<div class="modal-content">

			<div class="card">
				<div class="card-content">
					<div class="divider mb-3"></div>
					<div class="row">
						<div
							class="col s12" id="account">
							<!-- users edit media object ends -->
							{{ form_start(formPhysionomie) }}
							<div class="row">
								<div class="col s12 ">
									<div class="row">
										<div
											class="col s12 m6 input-field" id="view-date-pickerr">
											{# <p>We use a modified version of pickadate.js to create a materialized date picker. Test it out below! </p> #}
											<label for="physionomie_date">date</label>
											{{ form_widget(formPhysionomie.date,{'attr': {'class': 'datepicker', 'data-error' :'.errorTxt5'}}) }}

										</div>
										<div class="col s12 m6 input-field">
											{{ form_widget(formPhysionomie.taille, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt2'}}) }}
											<label class="active">taille</label>
											<small class="errorTxt2"></small>
										</div>
										<div class="col s12 input-field">
											{{ form_widget(formPhysionomie.poids, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt3'}}) }}
											<label class="active">poids</label>
											<small class="errorTxt3"></small>
										</div>


									</div>
								</div>
								<div class="col s12 display-flex justify-content-end mt-3">
									{{ form_widget(formPhysionomie.submit) }}
									<button type="button" class="btn btn-light">Cancel</button>
								</div>
							</div>
							{{ form_end(formPhysionomie) }}
							<!-- users edit account form ends -->
						</div>
					</div>
				</div>
				<!-- </div> -->

			</div>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>


{% endblock %}


{% block body %}
	<!DOCTYPE html>

	<html
		class="loading" lang="en" data-textdirection="ltr">
		<!-- BEGIN: Head-->
		<head>


			{#  #}
			<!-- BEGIN: Page Level CSS-->


			<link
			rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/css/pages/page-account-settings.css')}}"> <!-- BEGIN: SideNav-->

			{% for message in app.flashes('success') %}
				<div class="card-alert card green">
					<div class="card-content white-text">
						<p>
							{{ message }}</p>
					</div>
					<button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="card-alert card red">
					<div class="card-content white-text">
						<p>
							{{ message }}</p>
					</div>
					<button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			{% endfor %}
			<!-- Account settings -->
			<section class="tabs-vertical mt-1 section">
				<div class="row">
					<div class="card-panel">
						<div class="row">
							<div class="col s12 m7">
								<div class="display-flex media">
									<a href="#" class="avatar">
										<img src="{{asset('assets/app-assets/images/avatar/siwarrr.png')}}" alt="users view avatar" class="z-depth-4 circle" height="60" width="80">
									</a>
									<div class="media-body">
										<h6 class="media-heading">
											<span class="users-view-username">{{ nageurs.prenom ~ ' ' ~ nageurs.nom }}
											</span>


										</h6>
										<span>ID:{{ nageurs.id}}</span>

									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div
						class="col l4 s12">
						<!-- tabs  -->
						<div class="card-panel">
							<ul class="tabs">
								<li class="tab">
									<a href="#general">
										<i class="material-icons">brightness_low</i>
										<span>General</span>
									</a>
								</li>
								<li class="tab">
									<a href="#change-password">
										<i class="material-icons">lock_open</i>
										<span>Change Password</span>
									</a>
								</li>
								<li class="tab">
									<a href="#info">
										<i class="material-icons">error_outline</i>
										<span>
											Physionomie</span>
									</a>
								</li>

								<li class="tab">
									<a href="#connections">
										<i class="material-icons">link</i>
										<span>Cotisations Annuelles</span>
									</a>
								</li>
								<li class="tab">
									<a href="#tableau">
										<i class="material-icons">link</i>
										<span>Mes seances</span>
									</a>
								</li>

							</ul>
						</div>
					</div>

					<div
						class="col l8 s12">
						<!-- tabs content -->
						<div id="general">
							<div class="card-panel">

								<div class="divider mb-1 mt-1"></div>
								<div class="responsive-table">

									<table class="striped">
										<tbody>
											<tr>
												<td>ID:</td>
												<td class="users-view-ID">{{ nageurs.id }}</td>
											</tr>
											<tr>
												<td>Nom complet:</td>
												<td class="users-view-username">{{ nageurs.prenom ~ ' ' ~ nageurs.nom }}</td>
											</tr>
											<tr>
												<td>Parent:</td>
												<td class="users-view-parent">{{ nageurs.parent.prenom ~ ' ' ~ nageurs.parent.nom }}</td>
											</tr>
											<tr>
												<td>Telephone:</td>
												<td class="users-view-telephone">{{ nageurs.telephone }}</td>
											</tr>
											<tr>
												<td>E-mail:</td>
												<td class="users-view-email">{{ nageurs.email }}</td>
											</tr>
											<tr>
												<td>Groupe:</td>
												<td class="users-view-groupe">{{ nageurs.groupe.intitule }}</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="change-password">
							<div class="card-panel">

								<div class="row">
									<div class="col s12 ">
										<div class="row">
											{{ form_start(formEdit) }}
											<label class="active">Nouveau mot de passe</label>
											{{ form_widget(formEdit.password.first, {'required' : true  ,'attr': {'class': 'form-control', 'data-error' :'.errorTxt7'}}) }}

											<small class="errorTxt7"></small>
											<label class="active">Confirmer</label>
											{{ form_widget(formEdit.password.second, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt8'}}) }}

											<small class="errorTxt8"></small>

											<div class="col s12 display-flex justify-content-end mt-3">
												{{ form_widget(formEdit.submit, {'label': 'Modidier'}) }}
												<button type="button" class="btn btn-light">Cancel</button>
											</div>
											{{ form_end(formEdit) }}
										</div>
									</div>
								</div>


							</div>
						</div>

						<div id="info">

							<div class="card-panel">

								<div class="responsive-table">
									<table id="users-list-datatable" class="table">
										<thead>
											<tr>
												<th></th>
												<th>id</th>
												<th>Date</th>
												<th>Poids</th>
												<th>Taille</th>
											</tr>
										</thead>
										<tbody>
											{% for physionomies in nageurs.physionomies %}
												<tr>
													<td></td>
													<td>{{ physionomies.id }}</td>
													<td>{{ physionomies.date | date('Y-m-d') }}</td>
													<td>{{ physionomies.poids }}</td>
													<td>{{ physionomies.taille }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div id="connections">
							<div class="card-panel">

								<div class="responsive-table">
									<table id="users-list-datatable" class="table">
										<thead>
											<tr>
												<th></th>
												<th>id</th>
												<th>Montant</th>
												<th>Saison</th>
												<th>Remarque</th>
											</tr>
										</thead>
										<tbody>
											{% for cotisationAnnuelle in nageurs.cotisationAnnuelles %}
												<tr>
													<td></td>
													<td>{{ cotisationAnnuelle.id }}</td>
													<td>{{ cotisationAnnuelle.montant }}</td>
													<td>{{cotisationAnnuelle.saison }}</td>
													<td>{{ cotisationAnnuelle.remarque }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

							</div>
						</div>
						<div id="tableau">
							 <div class="card-panel">
        <div class="container-fluid">
            {% set seancesByDay = nageurs.getSeancesByDayOfWeek() %}
            {% set days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche'] %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for day in days %}
                            <th>{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for seance in seancesByDay %}
                        <tr>
                            <td>{{ seance[0].horaireDebut }} - {{ seance[0].horaireFin }}</td>
                            {% for day in days %}
                                <td>
                                    {% for s in seance %}
                                        {% if s.jour == day %}
                                            <div>{{ s.getPlanning().getLieuEntrainement() }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
                        </div>
							</div>
						</head>
					</html>
				</head>
			</head>
		</head>
	</html>
</head></html></head></html></section><script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>{# <script src="../../../app-assets/js/scripts/advance-ui-modals.js"></script> #}<script src="{{asset('assets/app-assets/js/scripts/advance-ui-modals.js')}}"></script><script type="text/javascript">jQuery('.modal').modal({
dismissible: true, // Modal can be dismissed by clicking outside of the modal
opacity: .5, // Opacity of modal background
inDuration: 300, // Transition in duration
outDuration: 200, // Transition out duration
startingTop: '4%', // Starting top style attribute
endingTop: '10%', // Ending top style attribute
ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
alert("Ready");
console.log(modal, trigger);
},
complete: function () {
alert('Closed');
} // Callback for Modal close
})</script>{% endblock %}
