{% extends "base.html.twig" %}
{% block title %}modifier minimas{% endblock %}
{% block pageTitle %}modifier minimas{% endblock %}
{% block levelOne %}<li class="breadcrumb-item"><a href="{{ path('app_admin_minimas_list') }}">minimas</a></li>{% endblock %}
{% block levelTwo %}<li class="breadcrumb-item active">Modifier nageur</li>{% endblock %}
{% block levelThree %}{% endblock %}
{% block btnLink %}
{% endblock %}
{% block body %}
    {#  Show alert : START #}
    {% for message in app.flashes('success') %}
        <div class="card-alert card green">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %} 
    {% for message in app.flashes('error') %}
        <div class="card-alert card red">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {#  Show alert : END  #}
    <div class="section nageurs-edit">
        <div class="card">
            <div class="card-content">
                <div class="divider mb-3"></div>
                <div class="row">
                    <div class="col s12" id="account">
                        <!-- users edit media object ends -->
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col s12 ">
                                    <div class="row">
                                        <div class="col s12 m6 input-field">
                                            {{ form_widget(form.genre, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt1'}}) }}
                                            <label class="active">Genre</label>
                                            <small class="errorTxt1"></small>
                                        </div>
                                        <div class="col s12 m6 input-field">
                                            {{ form_widget(form.chrono, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt2'}}) }}
                                            <label class="active">Chrono</label>
                                            <small class="errorTxt2"></small>
                                        </div>
                                        <div class="col s12 input-field">
                                            {{ form_widget(form.typeMinimas, {'attr': {'class': 'form-control', 'data-error' :'.errorTxt3'}}) }}
                                            <label class="active">Type Minimas</label>
                                            <small class="errorTxt3"></small>
                                        </div>
                                        
									</div>
									
                                     
                                    </div>
                                </div>
                                <div class="col s12 display-flex justify-content-end mt-3">
                                    {{ form_widget(form.submit, {'label': 'Modidier'}) }}
                                    <button type="button" class="btn btn-light">Cancel</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        <!-- users edit account form ends -->
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
{% endblock %}
