{% extends "base.html.twig" %}
{% block title %}Les minimas{% endblock %}
{% block pageTitle %}Les Minimas{% endblock %}
{% block levelOne %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_minimas_list') }}">Minimas</a></li>{% endblock %}
{% block levelTwo %}{% endblock %}
{% block levelThree %}{% endblock %}
{% block btnLink %}





<!-- Modal Trigger -->
{# <a class="waves-effect waves-light btn modal-trigger" href="{{ path('app_admin_groupe_list') }}">create groupe</a> #}
<a data-target="modal1" class="btn modal-trigger   waves-effect waves-light breadcrumbs-btn right    ">Ajouter Minimas</a>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="modal-content"> 
             {{ form(form)}} 
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


{% endblock %}

{% block body %}
    {#  Show alert : START #}
    {% for message in app.flashes('success') %}
        <div class="card-alert card green">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="card-alert card red">
            <div class="card-content white-text">
                <p>  {{ message }}</p>
            </div>
            <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {#  Show alert : END  #}
    <section class="users-list-wrapper section">
        <div class="users-list-filter">
            <div class="card-panel">
                <div class="row">
                    <form>
                        <div class="col s12 m6 l3">
                            <label for="users-list-verified">Verified</label>
                            <div class="input-field">
                                <select class="form-control" id="users-list-verified">
                                    <option value="">Any</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <label for="users-list-role">Role</label>
                            <div class="input-field">
                                <select class="form-control" id="users-list-role">
                                    <option value="">Any</option>
                                    <option value="User">User</option>
                                    <option value="Staff">Staff</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <label for="users-list-status">Status</label>
                            <div class="input-field">
                                <select class="form-control" id="users-list-status">
                                    <option value="">Any</option>
                                    <option value="Active">Active</option>
                                    <option value="Close">Close</option>
                                    <option value="Banned">Banned</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 display-flex align-items-center show-btn">
                            <button type="submit" class="btn btn-block indigo waves-effect waves-light">Show</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <!-- datatable start -->
            <div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <!-- datatable start -->
            <div class="responsive-table">
                <table id="users-list-datatable" class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Genre</th>
                            <th>Chrono</th>
                            <th>Type Minimas</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for minimas in minimas %}
                            <tr>
                                <td>{{ minimas.id }}</td>
                                <td>{{ minimas.genre }}</td>
                                <td>{{ minimas.chrono }}</td>
                                <td>{{ minimas.typeMinimas }}</td>
                                <td>
                                    <a href="{{ path('app_admin_minimas_delete', {'id': minimas.id}) }}"><i class="btn-small btn-light-pink">supprimer</i></a>
                                    <a href="{{ path('app_admin_minimas_edit', {'id': minimas.id}) }}"><i class="material-icons">edit</i></a> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                    <!-- datatable ends -->
                </div>
            </div>
        </div>
    </section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    
{# <script src="../../../app-assets/js/scripts/advance-ui-modals.js"></script> #}
<script src="{{asset('assets/app-assets/js/scripts/advance-ui-modals.js')}}"></script>
<script type="text/javascript">
jQuery('.modal').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: .5, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute
  ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
  alert("Ready");
  console.log(modal, trigger);
  },
  complete: function() { alert('Closed'); } // Callback for Modal close
  }
)
</script>
{% endblock %}